html{
	font-size:30px;
    border: 30px solid white;
	font-family: 'Neuton', serif;
}

.bottom{
	text-align:center;
	padding:1em;
	font-size:30px;


}

table{
	padding:1em;
}
.Header{
    padding:1em;
	text-align:center;
}

.table{
	padding:3em;
}


.Buttons{
	padding: 2em;
}


.maps{
	padding: 2em;
}

select{
	font-size:24px;
}


