html, body{
    background-color: rgba(244, 208, 62,0.05) !important;
    
}

.container{
    font-family: 'Source Sans Pro', sans-serif;
    color: rgba(1, 38, 57,0.9);
}

.headings{
    position: relative;
    font-weight: 600;
}

/* .headings:after {
    content: "";
    width: 76px;
    border-top: 10px solid rgba(0, 85, 128,0.9);
    position: absolute;
    bottom: -7px;
    left: 12px;
  } */

.jumbotron{
    /* Postmedia Navy Blue  */
    background: linear-gradient(75deg,  rgba(1, 38, 57,0.9), rgba(255, 255, 255,0.25));
    background-color: rgba(1, 38, 57,0.9) !important;
    background-image: linear-gradient(-75deg, #005580 0%, #002639 100%);
    border: #f4d03e solid;
    border-width: 0 0 8px 0;
    color: #f4d03e;
}

.header-text{
    color:rgba(255, 255, 255,0.8) !important;
    font-family: 'Lato', sans-serif;
    padding-left: 15px;
}

.logo {
    border:5px solid #f4d03e;
    /* border-radius: 25%;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%; */
    float: right;
}

.first-paragraph {
    text-indent: 50px;
}

blockquote{
    text-align: right;
    float:right;
    border-left: 0 !important;
    border-right: 5px solid #eee;
}



@media screen and (min-width: 768px) {
    .headings{
        font-size: 46px;
    }
    .jumbotron {
        padding-top: 85px !important;
        padding-bottom: 85px !important;
    }
    .header-text{
        margin-left: 5rem;
    }
    .logo{
        width: 250px;
        height: 250px;
        margin-top: -40px;
        /* margin-right: 10em; */
    }
}

@media screen and (max-width: 767px){
    .jumbotron {
        padding-top: 48px !important;
        padding-bottom: 48px !important;
    }
    .header-text{
        margin-left: 2rem;
    }
    .logo{
        width:120px;
        height:120px;
        /* margin-right: 2em; */
        margin-top: -10px;
    }
}

