html, body{
    font-family: 'Lato', sans-serif;
    background-color: rgba(255, 255, 255,0.7);
}

.jumbotron{
    background-image: linear-gradient(-75deg, #005580 0%, #002639 100%);
    
    /* background: linear-gradient(75deg,  rgba(1, 38, 57,0.9), rgba(255, 255, 255,0.25));
    background-color: rgba(1, 38, 57,0.9) !important; */ /* Postmedia Navy Blue  */
    border: #f4d03e solid;
    border-width: 0 0 8px 0;
    color: #f4d03e;
}

.header-text{
    color:rgba(255, 255, 255,0.8) !important;
    font-family: 'Lato', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;

    padding-left: 15px;
}


@media screen and (min-width: 768px){
    .jumbotron {
        padding-top: 85px !important;
        padding-bottom: 85px !important;
    }
    .header-text{
        margin-left: 5rem;
    }
    .logo{
        width:150px;
        height:150px;
        float: right;
        margin-top: 10px;
    }
}

@media screen and (max-width: 767px){
    .jumbotron {
        padding-top: 48px !important;
        padding-bottom: 48px !important;
    }
    .header-text{
        margin-left: 2rem;
    }
    .logo{
        width:100px;
        height:100px;
        float: right;
    }
}

